* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #fff;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
}

/* header */
.header {
  background: #fafafa;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03);
  padding: 16px 24px;
  margin: 16px 0;
  text-align: right;
}

.header h1 {
  font-size: 22px;
  font-weight: 700;
  margin: 0;
  line-height: 1.2;
  letter-spacing: -0.3px;
}

.header h2 {
  font-size: 14px;
  font-weight: 400;
  margin: 4px 0 12px;
  color: #666;
}

.header span {
  color: #F8C8DC
;
}

 #search {
  width: 30%;
  max-width: 520px;
  padding: 14px 18px;
  font-size: 14px;
  font-family: inherit;

  border-radius: 16px;
  border: 1px solid #e6e6e6;
  background: #fafafa;

  transition: 
    border-color 0.2s ease,
    box-shadow 0.2s ease,
    background 0.2s ease;
}

#search:focus {
  outline: none;
  background: #fafafa;
  border-color: #f4b6c2;
  box-shadow: 0 0 0 2px rgba(240, 235, 236, 0.25);
}

/* content */
.container {
  max-width: 1100px;
  margin: 0 auto 40px;
  padding: 0 24px;
}

.category {
  scroll-margin-top: 80px;
}

.category h2 {
  margin: 15px;
  font-size: 16px;
  font-weight: 800;
  color: gray;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(52px, 1fr));
  gap: 10px;
}

.emoji {
  font-size: 30px;
  text-align: center;
  padding: 14px;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.15s;
}

.emoji:hover {
  background: #f2f2f2;
  transform: scale(1.15);
}

/* toast */
.toast {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: #000;
  color: #F8C8DC;
  padding: 8px 16px;
  border-radius: 20px;
  font-size: 14px;
  opacity: 0;
  transition: 0.3s;
}

.toast.show {
  opacity: 1;
}

:root {
  --bg-main: #ffffff;
  --bg-soft: #fafafa;

  --pink-main: #f4b6c2;
  --pink-soft: #fdecef;

  --text-main: #111111;
  --text-muted: #888888;

  --border-light: #e6e6e6;
}

/* smooth scroll */
html {
  scroll-behavior: smooth;
}
